# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Database
*.sqlite
lottery.sqlite

# Build
dist/
/frontend/dist

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
